<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Joli Admin - Responsive Bootstrap Admin Template</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
                        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                   
    </head>
    <body>
        <!-- START PAGE CONTAINER -->






                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title "><strong>Registro </strong> Huespedes</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Por favor, complete la siguiente información para registrar a los huéspedes que se alojarán con nosotros. Su seguridad y comodidad son nuestra principal prioridad.</p>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nombre</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input id="name" type="text" class="form-control"/>
                                            </div>
                                            <span class="help-block">Escribe tu nombre</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Apellido</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input id="last_name" type="text" class="form-control"/>
                                            </div>
                                            <span class="help-block">Escribe tu apellido</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">contraseña</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                <input type="password" class="form-control" id="password"/>
                                            </div>
                                            <span class="help-block">Confirma</span>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Fecha de cumpleaños</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input id="birthday" type="text" class="form-control datepicker" value="2014-11-01">
                                            </div>
                                            <span class="help-block">Selecciona tu fecha de cumpleaños</span>
                                        </div>
                                    </div>




                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nacionalidad</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input id="nacionalidad" type="text" class="form-control"/>
                                            </div>
                                            <span class="help-block">Nacionalidad</span>
                                            <span class="help-block">Nacionalidad</span>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Numero de telefono</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input id="telefono"type="tel" class="form-control"/>
                                            </div>
                                            <span class="help-block">Telefono</span>
                                        </div>
                                    </div>



                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>
                                    <a href="/hotel/buscar">Gestionar Huespedes</a>
                                    <button type="button" onClick="registrarHuesped()" class="btn btn-primary pull-right">Enviar</button>

                                </div>
                            </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->





    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
        <!-- END THIS PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="js/settings.js"></script>

        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/actions.js"></script>

        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->


        <script>

function registrarHuesped() {
    // Obtener los valores de los campos del formulario
    let nombre = document.getElementById("name").value;
    let apellido = document.getElementById("last_name").value;
    let contrasena = document.getElementById("password").value;
    let fechaNacimiento = document.getElementById("birthday").value;
    let nacionalidad = document.getElementById("nacionalidad").value;
    let telefono = document.getElementById("telefono").value;

    // Crear un objeto con los datos del formulario
    let postObj = {
        name: nombre,
        lastName: apellido,
        password: contrasena,
        birthday: fechaNacimiento,
        nacionalidad: nacionalidad,
        numeroDeTelefono: telefono
    };

    // Convertir el objeto a una cadena JSON
    let post = JSON.stringify(postObj);

    // Especificar la URL a la que se enviarán los datos (ajusta la URL según tus necesidades)
    const url = "/hotel/huesped/";

    // Crear una solicitud HTTP POST
    let xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);

    // Configurar el encabezado de la solicitud
    xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');

    // Enviar los datos JSON al servidor
    xhr.send(post);

    // Manejar la respuesta del servidor
    xhr.onload = function () {
        if (xhr.status === 200) {
            // La respuesta del servidor debe incluir el ID asignado
            let response = JSON.parse(xhr.responseText);
            if (response.id) {
                // Asignar el ID de la respuesta a la propiedad numeroDeReserva del objeto postObj
                postObj.numeroDeReserva = response.id;
                window.alert("Tu información se guardó con éxito! ID: " + response.id);
                console.log(postObj);
            } else {
                window.alert("Hubo un error al guardar la información.");
            }
        }
    };
}




</script>








    </body>
</html>






