<!DOCTYPE html>
<html lang="en">
<head>
<!-- META SECTION -->
<title>Sistema de Busqueda</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<!-- END META SECTION -->

<!-- CSS INCLUDE -->
<link rel="stylesheet" type="text/css" id="theme"
	href="css/theme-default.css" />
<!-- EOF CSS INCLUDE -->
</head>
<body>


	<!-- START X-NAVIGATION VERTICAL -->
	<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
		<!-- TOGGLE NAVIGATION -->
		<li class="xn-icon-button"><a href="#"
			class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
		</li>
		<!-- END TOGGLE NAVIGATION -->
		<!-- SEARCH -->
		<li class="xn-search">
			<form role="form">
				<input type="text" name="search" placeholder="Buscar" id="buscarInput"/>
			</form>
		</li>

		<!-- END SEARCH -->
		<!-- SIGN OUT -->

	</ul>
	<!-- PAGE TITLE -->
	<div class="page-title">
		<h2>
			<span class="fa fa-arrow-circle-o-left"></span>Sistema de Búsqueda
		</h2>
	</div>
	<!-- END PAGE TITLE -->

	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
		<input type="radio" id="html" name="buscarElemento" value="huesped" checked="checked">   
		<label for="html">Huéspedes</label>
		 <input type="radio" id="html" name="buscarElemento" value="reservaciones">
		  <label for="html">Reservaciones</label><br> 
		
		<input type="button" value="buscar" onclick="buscar()"/> &nbsp; &nbsp;  
		
		 <a href="/hotel/altaReservacion">Ir a Registro de Reservación</a> &nbsp; &nbsp;
		  <a href="/hotel/altaHuesped">Ir a Registro de Huesped</a>
		<div class="row">
		
		
			<div class="col-md-12">


				<div class="panel-body" id="consultarend">
					<table class="table datatable">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Fecha Nacimiento</th>
								<th>Nacionalidad</th>
								<th>Telefono</th>
								<th>Numero de reserva</th> 
								<th>Modificar</th> 
								<th>Eliminar</th>  
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tiger Nixon</td>
								<td>System Architect</td>
								<td>Edinburgh</td>
								<td>61</td>
								<td>2011/04/25</td>
								<td>$320,800</td>
								<td>Tiger Nixon</td> 
								<td>Modificar</td>
								<td>Eliminar</td>
								
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div id="div2"></div>
			<!-- END DEFAULT DATATABLE -->

		</div>
	</div>

	</div>
	<!-- PAGE CONTENT WRAPPER -->
	</div>
	<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->



	<!-- START PRELOADS -->
	<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
	<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
	<!-- END PRELOADS -->

	<!-- START SCRIPTS -->
	<!-- START PLUGINS -->
	<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="js/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- END PLUGINS -->

	<!-- THIS PAGE PLUGINS -->
	<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
	<script type="text/javascript"
		src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

	<script type="text/javascript"
		src="js/plugins/datatables/jquery.dataTables.min.js1"></script>
	<!-- END PAGE PLUGINS -->

	<!-- START TEMPLATE -->
	<script type="text/javascript" src="js/settings.js"></script>

	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/actions.js"></script>
	<!-- END TEMPLATE -->
	<!-- END SCRIPTS -->
	<script>
        window.addEventListener('load', function() { ////Cuando carga el html se manda a llamar a la funcion
        	//init() 
        	consultarTodasLasReservaciones()
        	 consultarTodosLosHuespedes()
        }); 
        
        function initReservacion(elementos){
        	let valorActivo = document.querySelector('input[name="buscarElemento"]:checked').value;
        	let header = `
        		   <table class="table datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CheckIn</th>
                        <th>CheckOut</th>
                        <th>Valor de Reservación</th>
                        <th>Metódo de Pago</th>
							<th>Modificar</th>
							<th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
        	`; 
        	let trs = "";
        	elementos.forEach((elementoIndex, indice) => {
        		trs += `
           		 <tr>
                    <td>${elementoIndex["id"]}</td>
                    <td>${elementoIndex["checkIn"]}</td>
                    <td>${elementoIndex["checkOut"]}</td>
                    <td>${elementoIndex["valorReserva"]}</td>
                    <td>${elementoIndex["formaPago"]}</td>
                    <td> <a class="fcc-btn" href="/hotel/modificarReservaciones?id=${elementoIndex['id']}">Modificar</a>  </td> 
                    <td> <a href="#" onclick="eliminarReservacion(${elementoIndex['id']})">Eliminar</a></td>
                   
                    </tr>`
        	});
        	
        	
        	let cierrre = `
        		</tbody>
                </table>
        	`;
        	let miDiv = document.getElementById("div2");
        	miDiv.innerHTML = header + trs + cierrre
        } 
        
        function consultarTodasLasReservaciones(){
        	const url = "/hotel/reservacion/consultar"
       		let xhr = new XMLHttpRequest()
       		xhr.open('GET', url, true)
       		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
       		xhr.onload = function () {
       		    if(xhr.status === 200) {
       		        //document.getElementById("consultarend").innerHTML = xhr.response;
       		     	initReservacion(JSON.parse(xhr.response))
       		    }
       		}
        	xhr.send();
        } 
        
        
        function consultarTodosLosHuespedes(){
        	const url = "/hotel/huesped/consultar"
       		let xhr = new XMLHttpRequest()
       		xhr.open('GET', url, true)
       		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
       		xhr.onload = function () {
       		    if(xhr.status === 202) {
       		        //document.getElementById("consultarend").innerHTML = xhr.response;
       		     	initHuesped(JSON.parse(xhr.response))
       		    }
       		}
        	xhr.send();
        }
        
        function initHuesped(elementos){ //init significa que se ejecuta cunado carga la funcion
        	let valorActivo = document.querySelector('input[name="buscarElemento"]:checked').value;
        	let header = `
        		<table class="table datatable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Password</th>
						<th>Fecha de Nacimiento</th>
						<th>Nacionalidad</th>
						<th>Telefono</th>
						<th>Numero de reserva</th> 
						<th>Modificar</th> 
						<th>Eliminar</th>  
					</tr>  
				</thead>  
				<tbody>
                
                
        	`;  
        	let trs = "";
        	elementos.forEach((elementoIndex, indice) => {
        		trs += `
        			<tr>
        			<td>${elementoIndex["id"]}</td>
        			<td>${elementoIndex["name"]}</td>
        			<td>${elementoIndex["lastName"]}</td>
        			<td>${elementoIndex["password"]}</td>
        			<td>${elementoIndex["birthday"]}</td>
        			<td>${elementoIndex["nacionalidad"]}</td>
        			<td>${elementoIndex["numeroDeTelefono"]}</td> 
        			<td>${elementoIndex["numeroDeReserva"]}</td>
        			 <td> <a class="fcc-btn" href="/hotel/modificarHuesped?id=${elementoIndex['id']}">Modificar</a>  </td> 
                     <td> <a href="#" onclick="eliminarHuesped(${elementoIndex['id']})">Eliminar</a></td>
				</tr>
				`
        	});
        	
        	
        	let cierrre = `
        		</tbody>
                </table>
        	`;
        	let miDiv = document.getElementById("consultarend");
        	miDiv.innerHTML = header + trs + cierrre
        }  
        
        function buscar(){//Buscar funcion generearl
        	let valorActivo = document.querySelector('input[name="buscarElemento"]:checked').value;
        	if(valorActivo == "huesped"){
        		 	buscarHuesped()
        	}else{
        		buscarReservacion()
        	} 
        } 
        
        function buscarReservacion(){
	       	let buscarId = document.getElementById("buscarInput").value;
	       	if(buscarId){  ///Significa que si existe el id
	       	 	buscarReservacionPorId(buscarId)
	       	} else {
	       		consultarTodasLasReservaciones()
	       	}
       }
        
        function buscarHuesped(){
        	 let buscarId = document.getElementById("buscarInput").value;
        	if(buscarId){  ///Significa que si existe el id
        		buscarHuespedPorId(buscarId)
        	} else {
        		buscarTodosLosHuesped()
        	}
        }
        
        function buscarReservacionPorId(buscarId){
        	//let contenido = document.getElementById("buscarInput").value;
        	const url = "/hotel/buscar/reservacion/" + buscarId
           		let xhr = new XMLHttpRequest()
           		xhr.open('GET', url, true)
           		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
           		xhr.onload = function () {
           		    if(xhr.status === 200) {
           		        //document.getElementById("consultarend").innerHTML = xhr.response;
           		     	initReservacion([JSON.parse(xhr.response)])
           		    }
           		}
            	xhr.send();
        }  
        
        function buscarHuespedPorId(buscarId){
        	//let contenido = document.getElementById("buscarInput").value;
        	const url = "/hotel/buscar/huesped/" + buscarId
           		let xhr = new XMLHttpRequest()
           		xhr.open('GET', url, true)
           		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
           		xhr.onload = function () {
           		    if(xhr.status === 200) {
           		        //document.getElementById("consultarend").innerHTML = xhr.response;
           		     	initHuesped([JSON.parse(xhr.response)])
           		    }
           		}
            	xhr.send();
        }  
        
        
        
        function buscarTodosLosHuesped(){
        	const url = "/hotel/reservacion/consultar"
           		let xhr = new XMLHttpRequest()
           		xhr.open('GET', url, true)
           		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
           		xhr.onload = function () {
           		    if(xhr.status === 200) {
           		        //document.getElementById("consultarend").innerHTML = xhr.response;
           		     	initReservacion(JSON.parse(xhr.response))
           		    }
           		}
            	xhr.send();
        }  
        
        function eliminarReservacion(id){
        	const url = "/hotel/reservacion/eliminar/" + id
           		let xhr = new XMLHttpRequest()
           		xhr.open('DELETE', url, true)
           		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
           		xhr.onload = function () {
           		    if(xhr.status === 200) {
           		       alert("Se elimino correctamente")
           		    window.location.reload();
           		    }
           		}
            	xhr.send();
        }
        
        function eliminarHuesped(id){
        	const url = "/hotel/huesped/eliminar/" + id
           		let xhr = new XMLHttpRequest()
           		xhr.open('DELETE', url, true)
           		xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
           		xhr.onload = function () {
           		    if(xhr.status === 200) {
           		       alert("Se elimino correctamente")
           		    window.location.reload();
           		    }
           		}
            	xhr.send();
        }
        </script>
</body>
</html>






