<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META SECTION -->
	<title>Joli Admin - Responsive Bootstrap Admin Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<!-- END META SECTION -->

	<!-- CSS INCLUDE -->
	<link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
	<!-- EOF CSS INCLUDE -->
</head>
<body>
<!-- START PAGE CONTAINER -->






<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

	<div class="row">
		<div class="col-md-12">


			<form class="form-horizontal">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title "><strong>Actualización  </strong> de Datos</h3>
						<ul class="panel-controls">
							<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
						</ul>
					</div>
					<div class="panel-body">
						<p>Por favor, actualice  la siguiente información ...</p>
					</div>
					<div class="panel-body">

						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Id</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
									<input type="text" id="id" class="form-control" disabled/>
								</div>
								<span class="help-block"></span>
							</div>
						</div>






						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Nombre</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
									<input id="name" type="text" class="form-control"/>
								</div>
								<span class="help-block">Escribe tu nombre</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Apellido</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
									<input id="last_name" type="text" class="form-control"/>
								</div>
								<span class="help-block">Escribe tu apellido</span>
							</div>
						</div>




						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Fecha de cumpleaños</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
									<input id="birthday" type="text" class="form-control datepicker" value="2014-11-01">
								</div>
								<span class="help-block">Selecciona tu fecha de cumpleaños</span>
							</div>
						</div>




						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Nacionalidad</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
									<input id="nacionalidad" type="text" class="form-control"/>
								</div>
								<span class="help-block">Nacionalidad</span>
							</div>
						</div>



						<div class="form-group">
							<label class="col-md-3 col-xs-12 control-label">Numero de telefono</label>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
									<input id="telefono"type="tel" class="form-control"/>
								</div>
								<span class="help-block">Telefono</span>
							</div>
						</div>



					</div>
					<div class="panel-footer">
						<button class="btn btn-default">Clear Form</button>
						<a href="/hotel/buscar">Gestionar Huespedes</a>
						<button type="button" onClick="huespedActualizado()" class="btn btn-primary pull-right">Actualizar</button>

					</div>
				</div>
			</form>


		</div>
	</div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->





<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<!-- END THIS PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>

<!-- END TEMPLATE -->
<!-- END SCRIPTS -->




	<script>
    window.addEventListener('load', function() {
        // Obtener el ID del huésped de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const huéspedId = urlParams.get('id');

        // Realizar una solicitud al servidor para obtener los datos del huésped
        const url = `/hotel/buscar/huesped/${huéspedId}`; // Reemplaza con la URL correcta para obtener datos del huésped
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // Llenar los campos del formulario con los datos del huésped
                document.getElementById('id').value = data.id;
                document.getElementById('name').value = data.name;
                document.getElementById('last_name').value = data.lastName;
                document.getElementById('birthday').value = data.birthday;
                document.getElementById('nacionalidad').value = data.nacionalidad;
                document.getElementById('telefono').value = data.numeroDeTelefono;
            })
            .catch(error => {
                console.error('Error al obtener datos del huésped:', error);
            });
    });


function huespedActualizado() {
    // Obtener el ID del huésped
    const id = document.getElementById('id').value;

    // Obtener los valores actualizados de los campos del formulario
    const nombre = document.getElementById('name').value;
    const apellido = document.getElementById('last_name').value;
    const birthday = document.getElementById('birthday').value;
    const nacionalidad = document.getElementById('nacionalidad').value;
    const telefono = document.getElementById('telefono').value;

    // Crear un objeto con los datos modificados del huésped
    const huéspedModificado = {
        id: id,
        name: nombre,
        lastName: apellido,
        birthday: birthday,
        nacionalidad: nacionalidad,
        numeroDeTelefono: telefono
    };

    // Elimina los campos que no deseas actualizar
    delete huéspedModificado.numeroDeReserva;
    delete huéspedModificado.password;

    // Realizar una solicitud AJAX para enviar los datos actualizados al servidor
    fetch(`/hotel/huesped/`, {
        method: 'PUT', // Utiliza el método HTTP PUT para actualizar el huésped
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(huéspedModificado)
    })
    .then(response => {
        if (response.status === 200) {
            // La actualización fue exitosa, puedes redirigir a otra página o mostrar un mensaje de éxito
            alert('Los datos del huésped se actualizaron correctamente.');
            // Redirigir a la página de gestión de huéspedes, por ejemplo:
            window.location.href = '/hotel/buscar';
        } else {
            // La actualización falló, puedes manejar el error de acuerdo a tus necesidades
            alert('Hubo un error al actualizar los datos del huésped.');
        }
    })
    .catch(error => {
        console.error('Error al enviar la solicitud de actualización:', error);
    });
}




</script>








</body>
</html>






